{% extends 'base.html.twig' %}

{% block title %}À propos ?{% endblock %}

{% block body %}
<section class="relative body-font bg-gradient-to-br from-california-500 via-cherry-pie-500 to-neutral-800">
      <div class="overlay"></div>
      <div class="container relative flex flex-wrap items-center px-5 py-8 mx-auto overflow-hidden md:flex-row">
            <div class="w-full overflow-hidden lg:w-1/2 xl:w-1/2">
                  <img class="object-cover object-center mx-auto sm:w-3/4 sm:pb-[30px]" alt="logo" width="300px"
                        height="300px" src="{{ asset('build/images/logo-large-white.svg') }}">
            </div>
            <div class="w-full overflow-hidden text-white lg:w-1/2 xl:w-1/2">
                  <div class="flex flex-col items-center mb-0 text-center md:items-start md:text-left md:mb-0">
                        <h1 class="mb-5 text-5xl font-bold text-white text-shadow-xl">C'est quoi, Nest-Gaming ?</h1>
                        <p class="pb-3 text-lg leading-8">
                              Le <strong>Nest-Gaming</strong> est collectif de streamer créer voila bientôt {{ age }}
                              ans. Nous avons
                              pour principaux objectifs de <strong>rassembler une communauté</strong> multi-gaming
                              autour de
                              valeurs fortes
                              qui sont:
                        </p>
                        <ul class="pt-1 pb-3 pl-5 text-lg leading-8 list-disc list-inside">
                              <li>l'entraide,</li>
                              <li>le partages,</li>
                              <li>le respect mutuel,</li>
                              <li>et la tolérance.</li>
                        </ul>
                        <p class="pb-3 text-lg leading-8">
                              Nous aidons aussi les nouveaux streamers à se lancer en les conseillants, afin qu'il
                              puissent s'amélioré leur contenu.
                        </p>
                        <p class="pb-3 text-lg leading-8">
                              Chaque streamer est libre dans ses choix, et responsable de ses diffusions.
                        </p>
                        <p class="pb-3 text-lg leading-8">
                              Pas de contrepartie sauf celle de la bonne humeur et de la volonté de partager avec
                              sincérité.
                        </p>
                  </div>
            </div>
            
      </div>
</section>
<section class="text-gray-600 body-font page-content">
      <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col w-full mb-20 text-center sm:flex-none">
                  <h2 class="mb-4 text-3xl font-black tracking-widest text-gray-900 title-font">LA MEUTE</h2>
                  <p class="mx-auto text-base leading-relaxed lg:w-2/3">Whatever cardigan tote bag tumblr hexagon
                        brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't
                        heard of them.</p>
            </div>
            <div class="flex flex-wrap -m-4 ">
                  {% for streamer in streamers %}
                  <div class="p-4 lg:w-1/2">
                        <div
                              class="flex flex-col items-center justify-center h-full text-center sm:flex-row sm:justify-start sm:text-left backdrop-blur-sm bg-white/30">
                              <img alt="logo du {{ streamer.name }}"
                                    class="z-10 flex-shrink-0 object-cover object-center w-48 h-48 mb-4 rounded-md shadow-lg shadow-black/50 sm:mb-0 bg-black-rock-900 lazyloading"
                                    width="48px" height="48px"
                                    src="{{ asset('build/images/team/' ~ streamer.avatar)  }}">
                              <div class="flex-grow sm:pl-8">
                                    <h3 class="mb-2 text-2xl font-black text-indigo-900 text-shadow-sm">
                                          {{ streamer.name }}
                                    </h3>
                                    <h4 class="mb-2 font-medium text-slate-800">
                                          {{ streamer.status | capitalize}} {% if streamer.status2 %} &
                                          {{  streamer.status2 | capitalize }} {% endif %}
                                    </h4>
                                    <p class="mb-4 text-neutral-800">{{ streamer.description }}</p>
                                    <span class="inline-flex items-center space-x-2 ">
                                          {% if streamer.twitch is defined %}
                                          <a href="https://www.twitch.com/{{ streamer.twitch }}"
                                                aria-label="Lien vers Twitch" class="text-gray-500 ">
                                                {{ icon('twitch','19','fill-[#6441A4]')}}
                                          </a>
                                          {% endif %}

                                          {% if streamer.twitter is defined %}
                                          <a href="https://www.twitter.com/{{ streamer.twitter }}"
                                                aria-label="Lien vers  Twitter" class="text-gray-500 ">
                                                {{ icon('twitter','20','fill-[#1DA1F2]')}}
                                          </a>
                                          {% endif %}

                                          {% if streamer.facebook is defined %}
                                          <a href="https://www.facebook.com/{{ streamer.facebook }}"
                                                aria-label="Lien vers  Facebook" class="text-gray-500">
                                                {{ icon('facebook','20', 'fill-[#4267B2]')}}
                                          </a>
                                          {% endif %}

                                          {% if streamer.instagram is defined %}
                                          <a href="https://www.instagram.com/{{ streamer.instagram }}"
                                                aria-label="Lien vers  Instagram" class="text-gray-500">
                                                {{ icon('instagram','20', 'fill-[#833AB4]')}}
                                          </a>
                                          {% endif %}

                                          {% if streamer.youtube is defined %}
                                          <a href="https://www.youtube.com/{{ streamer.youtube }}"
                                                aria-label="Lien vers  Youtube" class="text-gray-500">
                                                {{ icon('youtube','23', 'fill-[#FF0000]')}}
                                          </a>
                                          {% endif %}


                                          {% if streamer.tiktok is defined %}
                                          <a href="https://www.tiktok.com/@{{ streamer.tiktok }} ?is_from_webapp=1&sender_device=pc/"
                                                aria-label="Lien vers  Tiktok" class="text-gray-500">
                                                {{ icon('tiktok','23', 'fill-[#230b1d]')}}
                                          </a>
                                          {% endif %}
                                    </span>
                              </div>
                        </div>
                  </div>
                  {% endfor %}
            </div>
      </div>
</section>
{% endblock %}