@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/variants";

@import "root";

.bg-gradiant {
  animation: gradient 15s ease infinite ;
  background: linear-gradient(
    316deg,
    var(--green),
    var(--dark-green),
    var(--violet-nest),
    var(--jaune-nest)
    
  );
  background-size: 250% 100%;

}

.bg-nav{
  @apply bg-black/100;
}

.sticky{
  @apply bg-black/95;
}


.opacity-gradiant {
  background: linear-gradient(0deg, #000, transparent);
  bottom: 0;
  left: 0;
  position: relative;
  right: 0;
  top: 0;
}


.overlay {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  ) !important;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}

.text-shadow{
  text-shadow: #00000054 0.1em 0.1em 0.1em;
}

.bg-tournoi{
  background-image: url('../images/miramar.webp') !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.bg-page-tournoi{
  background-image: url('../images/miramar.webp') !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.active {
  @apply text-white;
}

.main-content{
  @apply mt-14;
}

@import './about.scss';
@import './blog.scss';
@import './comments.scss';
@import './homepage.scss';
@import './tournoi.scss';
@import './scrollToTop';
