<div  id="author" class="py-5 ">
	<div class="container mx-auto ">
		<div class="flex ">
			<div class="bg-indigo-400 ">
				{% set user = post.user   %}
				{% if user.filename == false %}
				<img class="object-cover w-full h-48 md:h-full md:w-48" src="{{ asset('build/images/user.svg')}}"
					width="204px" height="192px" alt="{{ user.username }}">
				{% else %}
				<img class="object-cover w-full h-48 md:h-full md:w-48" width="204px" height="192px"
					src="{{ vich_uploader_asset(user) | imagine_filter('avatar') }}" alt="avatar"
					alt="{{ user.username }}" />
				{% endif %}

			</div>
			<div class="p-8">
				<div class="text-sm font-semibold tracking-wide text-indigo-500 uppercase">
					<a href="{{ path('author', {username:user.nickname}) }}"><h3>{{ user.username }}</h3></a>
				</div>
				{# <a href="#" class="block mt-1 text-lg font-medium leading-tight text-black hover:underline">Finding
				customers for your new business</a> #}
				<p class="mt-3 text-slate-600">
					{{ user.description|raw }}
				</p>
				<ul class="flex items-center pt-3 space-x-2 list-none">
					{% if user.facebook %}
					<li>
						<a target="_blank" href="https://www.facebook.com/{{ user.facebook }}" aria-label="Facebook ">
							{{ icon('facebook','18', 'fill-slate-800 hover:fill-[#4267B2]') }}
						</a>
					</li>
					{% endif %}
					{% if user.instagram %}
					<li>
						<a target="_blank" href="https://www.instagram.com/{{ user.instagram }}" aria-label="Instagram">
							{{ icon('instagram','18', 'fill-slate-800 hover:fill-[#4267B2]') }}
						</a>
					</li>
					{% endif %}
					{% if user.twitter %}
					<li>
						<a target="_blank" href="https://www.instagram.com/{{ user.twitter }}" aria-label="Twitter">
							{{ icon('twitter','22', 'fill-slate-800 hover:fill-[#4267B2]') }}
						</a>
					</li>
					{% endif %}
					{% if user.twitch %}
					<li>
						<a target="_blank" href="https://www.instagram.com/{{ user.twitch }}" aria-label="Twitch">
							{{ icon('twitch','18', 'fill-slate-800 hover:fill-[#4267B2]') }}
						</a>
					</li>
					{% endif %}
					{% if user.youtube %}
					<li>
						<a target="_blank" href="{{ user.youtube }}" aria-label="Youtube">
							{{ icon('youtube','23', 'fill-slate-800 hover:fill-[#4267B2]') }}
						</a>
					</li>
					{% endif %}
					{# {% if user.steam %}
					<li>
						<a target="_blank" href="https://steamcommunity.com/id/{{ user.steam }}" aria-label="Steam">
							{{ icon('steam-logo','18', 'fill-slate-800 hover:fill-[#4267B2]') }}
						</a>
					</li>
					{% endif %} #}
				</ul>
			</div>
		</div>
	</div>
</div>