<div class="py-5 bg-gray-100 comments">
    <div class="container mx-auto">
        <div class="flex flex-wrap w-full mx-5 ">
            <div class="mb-6 w-60 lg:w-35 lg:mb-0">
                <h2 class="mb-2 text-xl font-medium text-gray-900 sm:text-3xl title-font">Commentaire :</h2>
                <div class="h-1 rounded bg-black/40 "></div>
            </div>
        </div>
        <div class="mx-5">
            <div id="disqus_thread"></div>
        </div>
    </div>
</div>

<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

    var disqus_config = function () {
        this.page.url = "{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"; // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier ="{{ post.id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    console.log(location.host + location.pathname);
    console.log("{{ post.id }}");
    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document,  s = d.createElement('script');
        s.src = 'https://nest-gaming.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>