<div id="randpost" class="p-5 bg-light">
    <div class="container mx-auto">
        <div class="flex flex-wrap w-full mb-8">
			<div class="w-full mb-6 lg:w-1/2 lg:mb-0">
				<h1 class="mb-2 text-2xl font-medium text-gray-900 sm:text-3xl title-font">Articles récents</h1>
				<div class="w-20 h-1 bg-black rounded"></div>
			</div>
		</div>
        <div class="flex flex-wrap -m-4">
            {% for post in posts %}
            
            <div class="p-3 lg:w-1/4 md:w-1/2">
                <a href="{{ path('blog.show', {'slug': post.slug, 'id': post.id}) }}">
                    <!--Card 1-->
                    <div class="max-w-sm overflow-hidden rounded shadow-lg ">
                        <img class="w-full lazyload" src="{{ vich_uploader_asset(post) | imagine_filter('blog_thumbnail') }}"
                            alt="{{ post.title }}" width="384px" height="216px">
                        <div class="p-4">
                            <h2 class="text-xl font-bold ">{{ post.title |slice(0, 45) }}...</h2>
                            <div class="py-2 text-sm text-neutral-500">
                                <time class=" timeago" datetime="{{ post.createdAt| date('c')
                            }}">{{ post.createdAt | format_datetime('medium', 'short', locale='fr') }}</time>
                            </div>
                            <p class="text-base text-gray-700">
                                {{ post.content | raw | striptags| slice(0,70) }} ...
                            </p>
                        </div>
                        {% if category is defined %}
                        <div class="px-4 pt-4 pb-2">
                            {% for row in array %}
                                
                            {% endfor %}
                            {% for tag in post.tags %}
                            <span
                                class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">
                                #{{ tag.name}}
                            </span>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>