<section class="widget categories">
	<header class="widget__header">
		<h4 class="widget-title">Catégories</h4>
	</header>

	{% cache 'sidebar_category' ttl(300) %}
	{% for category in categories %}
	<div class="flex items-center justify-between">
		<a class="pb-2 font-normal text-slate-700 hover:font-medium hover:text-black"
			href="{{ path('categories.show', { id: category.id, slug: category.slug }) }}">
			{{ category.name }}
		</a>
		<span>{{ category.category|length }}</span>
	</div>
	{% endfor %}
	{% endcache %}

</section>

<section class="widget latest-articles">
	<header class="widget__header">
		<h4 class="widget-title">Articles récents</h4>
	</header>
	<div class="latest-article">
		{% cache 'sidebar_post-latest' ttl(300) %}
		{% for post in posts%}
		<a class="text-sm text-slate-700 hover:font-medium hover:brightness-50"
			href="{{ path('blog.show', {id: post.id, slug: post.slug }) }}">
			<div class="flex items-center pb-3 justify-self-auto ">
				<div class="mr-2 w-14">
					<img class="rounded lazyloading " width="65px" height="65px"
						src="{{ vich_uploader_asset( post, 'imageFile') | imagine_filter('post_sidebar') }}"
						alt="{{ post.title }}">
				</div>
				<div class="w-full">
					<span>
						{{post.title |slice(0, 50) }} ...
					</span>

					<div class="article__meta">
						<time class="article__date timeago" datetime="{{ post.createdAt| date('c') }}">
							{{ post.createdAt|format_datetime('medium', 'none', locale='fr') }}
						</time>
					</div>

				</div>
			</div>
		</a>

		{% endfor %}
		{% endcache %}
	</div>
</section>

<section class="pb-5 widget comments">
	<header class="widget__header">
		<h4 class="widget-title">Commentaires récents</h4>
	</header>
	<div class="disqus_list">
		<div class="relative justify-center inline pb-1 top-1/3">
			{% for disqu in disqus | slice(0,4) %}
			<div class="relative grid grid-cols-1 gap-4 p-4 mb-4 bg-white border rounded-lg shadow hover:shadow-lg">
				<div class="relative flex gap-4">
					<img src="{{ disqu.author.avatar.small.cache }}" class="relative w-12 h-12 bg-white border rounded-lg "
						alt="avatar" loading="lazyloading" width="20px" height="20px">
					<div class="flex flex-col w-full">
						<div class="flex flex-row justify-between">
							<p class="relative overflow-hidden text-xl capitalize truncate whitespace-nowrap">
								{{ disqu.author.username }}</p>
							<a class="text-xl text-gray-500" href="#"><i class="fa-solid fa-trash"></i></a>
						</div>
						<p class="text-sm text-gray-400">
							{{ disqu.createdAt | format_datetime('medium', 'short', locale='fr')}}
						</p>
					</div>
				</div><a href="{{ disqu.url }}">
					<p class="-mt-1 text-sm text-gray-500"> {{ disqu.raw_message |slice(0, 120) }} ...</p>
				</a>
			</div>

			{% endfor %}
		</div>
	</div>
</section>

<section class="widget tag-cloud ">
	<header class="widget__header">
		<h4 class="widget-title">Nuage de Tags</h4>
	</header>
	<div class="flex flex-wrap items-center -m-1">

		{% cache 'sidebar_tag' ttl(300) %}
			{% for tag in tags %}
			{% if tag.posts|length > 0 %}

			<a class="px-3 py-1 m-1 text-sm text-white rounded hover:bg-black bg-slate-800 hover:shadow-lg"
				data-weight="{{ tag.posts|length }}" href="{{ path('tag.show', {id: tag.id, slug: tag.slug }) }}">
				{{ tag.name }}
			</a>

			{% endif %}
			{% endfor %}
		{% endcache %}
	</div>

</section>