

<div class="p-3 lg:w-1/4 md:w-1/2">
    <a href="{{ path('blog.show', {'slug': post.slug, 'id': post.id}) }}">
        <!--Card 1-->
        <div class="max-w-sm overflow-hidden rounded shadow-lg ">
            <img class="w-full lazyload" src="{{ vich_uploader_asset(post) | imagine_filter('blog_thumbnail') }}"
                alt="{{ post.title }}" width="384px" height="216px">
            <div class="p-4">
                <h2 class="mb-2 text-xl font-bold">{{ post.title }}</h2>
                <time class="pb-3 text-sm text-neutral-200 timeago" datetime="{{ post.createdAt| date('c')
                }}">{{ post.createdAt | format_datetime('medium', 'short', locale='fr') }}</time>
                <p class="text-base text-gray-700">
                    {{ post.content | raw | striptags| slice(0,70) }} ...
                </p>
            </div>
            {% if category is defined %}
            <div class="px-4 pt-4 pb-2">
                {% for row in array %}
                    
                {% endfor %}
                {% for tag in post.tags %}
                <span
                    class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full">
                    #{{ tag.name}}
                </span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </a>
</div>