{% extends 'base.html.twig' %}

{% block title %}Blog
{% endblock %}

{% block body %}

<div class="container flex flex-wrap mx-auto">
	<div id="blog-container" class="w-full overflow-hidden md:w-3/4 lg:w-3/4 xl:w-3/4">
		<div class="container p-5 mx-auto">
			<div class="flex flex-wrap w-full mb-5">
				<div class="w-full mb-6 lg:w-1/2 lg:mb-0">
					<h1 class="mb-2 text-2xl font-medium text-gray-900 sm:text-3xl title-font">Blog</h1>
					<div class="w-20 h-1 bg-black rounded "></div>
				</div>
			</div>

			<div class="flex flex-wrap -m-4">
				{% for post in pagination %}

				<article class="p-3 lg:w-1/2 xl:w-1/3 md:w-1/2 sm:w-full">
					<div class="h-full overflow-hidden rounded-lg shadow-md ">
						<img class="object-cover object-center w-full lg:h-48 md:h-36" height="192px" width="286px"
							src="{{ vich_uploader_asset( post, 'imageFile') | imagine_filter('blog_thumbnail') }}"
							alt="{{ post.title }}" class="lazyload">
						<div class="p-6">
							<p class="text-xs font-medium tracking-widest uppercase text-slate-700 title-font">
								{{ post.category.name }}
							</p>

							<h1
								class="font-medium text-gray-600 tt-4ext-lg mmb-1 hover:text-gray-900 hover:font-semibold title-font">
								<a class=""
									href="{{ path('blog.show', {'slug': post.slug, 'id': post.id}) }}">{{ post.title}}
								</a>
							</h1>
							<time class="mb-4 text-xs border-gray-500 " datetime="{{ post.createdAt | date('c') }}">
								{{ post.createdAt | format_datetime('medium', 'short', locale='fr') }}
							</time>
							<p class="pt-2 pb-2 leading-relaxed text-md">
								{{ post.content | raw | striptags| slice(0,70) }} ...
							</p>
							<div class="flex flex-wrap items-center ">
								<a href="{{ path('blog.show', {'slug': post.slug, 'id': post.id}) }}"
									class="inline-flex items-center text-slate-700 text-md md:mb-2 lg:mb-0">
									Lire plus
								</a>
							</div>
						</div>
					</div>
				</article>

				{% endfor %}
			</div>
			{{ knp_pagination_render(pagination, 'includes/pagination.html.twig') }}
		</div>
	</div>

	<aside id="blog-sidebar" class="w-full overflow-hidden md:w-1/4 lg:w-1/4 xl:w-1/4">
		<div class="container p-5 mx-auto">
			{{ sidebar() }}
		</div>
	</aside>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{# {{ encore_entry_script_tags('js/homepage') }} #}
{% endblock javascripts %}