{% extends 'base.html.twig' %}

{% block title %}Page introuvable {% endblock %}

{% block body %}
<section class="bg-gradiant  py-[80px] relative z-10">
    <div class="container mx-auto">
        <div class="flex -mx-4">
            <div class="w-full px-4 ">
                <div class="mx-auto max-w-[700px] text-center">
                    <h1
                        class="text-shadow-lg font-bold  text-white mb-8 text-[80px] sm:text-[80px] md:text-[120px] leading-none">
                        500
                    </h1>
                    <h2 class="text-white font-semibold text-[40px] leading-tight mb-3">
                        Oups ! Erreur Interne du Serveur. 
                    </h2>
                    <p class="text-lg text-white pb-[50px]">
                        Autrement dit, quelque chose s'est terriblement mal passé.
                    </p>
                    <a role="button" onclick="history.back()"
                        class="inline-block px-4 py-2 text-base font-semibold text-center text-black uppercase transition rounded-lg bg-white/70 ca hover:bg-white hover:text-black">
                        <span class="flex items-center">Revenir en arrière
                            {{ icon('right-chevron','10', 'ml-3 fill-current')}}</span>
                    </a>
                    <a href="{{ path('page.home') }}"
                        class="inline-block px-4 py-2 text-base font-semibold text-center text-white uppercase transition border border-white rounded-lg ca hover:bg-white hover:text-black">
                        <span class="flex items-center">Aller à l'acceuil
                            {{ icon('right-chevron','10', 'ml-3 fill-current')}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div
        class="absolute top-0 left-0 flex items-center justify-between w-full h-full space-x-5 -z-10 md:space-x-8 lg:space-x-14">
        <div class="w-1/3 h-full bg-gradient-to-t from-[#FFFFFF14] to-[#C4C4C400]"></div>
        <div class="flex w-1/3 h-full">
            <div class="w-1/2 h-full bg-gradient-to-b from-[#FFFFFF14]  to-[#C4C4C400]">
            </div>
            <div class="w-1/2 h-full bg-gradient-to-t from-[#FFFFFF14] to-[#C4C4C400]">
            </div>
        </div>
        <div class="w-1/3 h-full bg-gradient-to-b from-[#FFFFFF14] to-[#C4C4C400]"></div>
    </div>
</section>
<!-- ====== Error 404 Section End -->

{# {% cache "error_rand_posts" ttl(120)%} #}
{{ getRandomPosts(4) }}
{# {% endcache %} #}



{% endblock %}